<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | </title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../public/css/login_signup.css">
    <link rel="stylesheet" ref="../../public/css/fonts/Raleway.css">
    <link rel="stylesheet" href="../../node_modules/w3-css/w3.css">
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>


</body>
</html>