<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | HomePage</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/css/fonts/Raleway.css">
    <link rel="stylesheet" href="../../node_modules/w3-css/w3.css">
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../public/js/fieldParser.js"></script>
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            padding-top: 80px;
            min-height: 100%;
            background: black url("../../public/images/camaje-cooking-7.jpg") center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity">
    <div class="w3-display-topleft w3-padding-large w3-xlarge" style="z-index: 1">
        <a href="/" style="text-decoration: none; color: #477496">PotLuck</a>
    </div>
    <div id="manipulate" class="jumbotron text-center toggle_off"
         style="background-color: rgba(0,0,0,0.85)">
        <div class="w3-animate-right">
            <% if (loggedin) { %>
            <h1><span class="fa fa-lock"></span><span style="color: #b22222; "> Welcome, <%= user.local.name %></span>
            </h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <p><span style="color: #f5f5f5; "> Go to your profile:</span></p>
                        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span><span
                                    style="color: black;">
                    My Profile</span></a>
                    </div>
                    <div class="col-sm-4">
                        <p><span style="color: #f5f5f5; "> View your recommendations:</span></p>
                        <button id="recommendations" class="btn btn-info">
                            <span class="fa fa-lightbulb-o"></span><span
                                    style="color: black;">
                                My Recommendations</span></button>
                    </div>
                    <div class="col-sm-4">
                        <p><span style="color: #f5f5f5;">Or logout: </span></p>
                        <a href="/logout" class="btn btn-danger"><span class="fa fa-sign-out"></span><span
                                    style="color: black;">
                    Logout</span></a>
                    </div>
                </div>
            </div>
            <br>
            <div id="suggestions" class="w3-jumbo w3-padding-large"
                 style="background-color: rgba(227,186,209,0.45); display: none">
                <div class="container">
                    <div class="row">
                        <div id="Sugg0" class="col-md-4">

                        </div>
                        <div id="Sugg1" class="col-md-4">

                        </div>
                        <div id="Sugg2" class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>

            <% } else { %>
            <h1><span class="fa fa-lock"></span><span style="color: #b22222; "> Sign-in Options</span></h1>

            <p><span style="color: #f5f5f5; "> Login or Register with:</span></p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span><span style="color: black;">
                    Login</span></a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span><span style="color: black;">
                    Signup</span></a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            <a href="/auth/github" class="btn btn-default"><span class="fa fa-github"></span> GitHub</a>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>