<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>PotLuck | HomePage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body style="background-color:#E2788B">
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1804445126493863',
            xfbml: true,
            version: 'v2.8'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">

    <div class="jumbotron text-center" style="background-color:#933646">
        <h1><span class="fa fa-lock"></span><font color="#E2526C"> PotLuck</font></h1>

        <p><font color="#ff69b4"> Login or Register with:</font></p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span><font color="C41E3B"> Login</font></a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span><font color="C41E3B">
                Signup</font></a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        <a href="/auth/github" class="btn btn-default"><span class="fa fa-github"></span> GitHub</a>
    </div>

</div>
<div class="fb-like"
     data-share="true"
     data-width="450"
     data-show-faces="true">
</div>
<h4 align="center"><a href="/privacy_policy"><font color="black">Privacy Policy</font></a> | <a href="/terms"><font color="black">Terms of Service</font></a></h4>
</body>
</html>