<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../public/css/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>PotLuck | HomePage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            padding-top: 80px;
            min-height: 100%;
            background: black url("http://camaje.com/-/wp-content/uploads/2013/06/camaje-cooking-7.jpg") center;
            background-size: cover;
        }
    </style>

</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity">
    <div class="w3-display-topleft w3-padding-large w3-xlarge" style="z-index: 1">
        <a href="/" style="text-decoration: none; color: #477496">PotLuck</a>
    </div>
    <div class="jumbotron text-center" style="background-color: rgba(0,0,0,0.85)">
        <div class="w3-animate-right">
            <h1><span class="fa fa-lock"></span><span style="color: #b22222; "> Sign-in Options</span></h1>

            <p><span style="color: #f5f5f5; "> Login or Register with:</span></p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span><span style="color: black; ">
                    Login</span></a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span><span style="color: black; ">
                    Signup</span></a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            <a href="/auth/github" class="btn btn-default"><span class="fa fa-github"></span> GitHub</a>
        </div>
    </div>
</div>
</body>
</html>