<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="../../public/css/intro.css" rel="stylesheet">

    <title>PotLuck | HomePage</title>
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            background-image: url("http://camaje.com/-/wp-content/uploads/2013/06/camaje-cooking-7.jpg");
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body style="background-color:black">

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        PotLuck
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top" style="text-align: center">A SMARTER RECIPE FINDER</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">Beta Testing</p>
    </div>
    <div class="w3-display-container w3-display-bottomright w3-padding-large">
        <a class="w3-btn-floating-large w3-teal w3-animate-left" href="/index">>></a>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        <a href="/privacy_policy">Privacy Policy</a> | <a href="/terms">Terms of Service</a>
    </div>
</div>
</body>
</html>