<!-- USE VUE FRAMEWORK -->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | HomePage</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/Dashboard.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/css/fonts/Raleway.css">
    <link rel="stylesheet" href="../../node_modules/w3-css/w3.css">
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../public/js/fieldParser.js"></script>
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            padding-top: 80px;
            min-height: 100%;
            background: black url("../../public/images/camaje-cooking-7.jpg") center;
            background-size: cover;
        }
    </style>
</head>
<body style="padding:50px">

<!------------------------------------------------->
<!--                 NAVBAR                      -->
<!------------------------------------------------->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PotLuck</a>

        </div>
    </div>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="active nav-item">
            <a href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a href="/polling">Polling</a>
        </li>
        <li class="nav-item">
            <a href="/logout">Logout</a>
        </li>
    </ul>
</div>


<!------------------------------------------------->
<!--            Recommendation section           -->
<!------------------------------------------------->
<section class="container-fluid reco-sect">
    <div class="container">
        <h3 class="reco-h">Based on your previous likes we Recommend</h3>
        <ul class="recommendations">
        </ul>
    </div>
</section>


</body>

<script>
    $('.reco-item').click = function (e) {
        <
        div;
        class
        = "modal fade";
        tabindex = "-1";
        role = "dialog" >
            < div;
        class
        = "modal-dialog";
        role = "document" >
            < div;
        class
        = "modal-content" >
            < div;
        class
        = "modal-header" >
            < button;
        type = "button";
        class
        = "close";
        data - dismiss = "modal";
        aria - label = "Close" > < span;
        aria - hidden = "true" > & times;
        </
        span > < / button >
        < h4;
        class
        = "modal-title" > Modal;
        title < / h4 >
        < / div >
        < div;
        class
        = "modal-body" >
            < p > One;
        fine;
        body & hellip;
        </
        p >
        < / div >
        < div;
        class
        = "modal-footer" >
            < button;
        type = "button";
        class
        = "btn btn-default";
        data - dismiss = "modal" > Close < / button >
            < button;
        type = "button";
        class
        = "btn btn-primary" > Save;
        changes < / button >
        < / div >
        < / div ><!-- /.modal-content -->
        < / div ><!-- /.modal-dialog -->
        < / div >
        <!-- /.modal -->
    }

</script>


</html>