<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PotLuck | Intro</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/intro.css">
    <link rel="stylesheet" href="../../public/css/fonts/Raleway.css">
    <link rel="stylesheet" href="../../node_modules/w3-css/w3.css">

    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            min-height: 100%;
            background: black url("../../public/images/camaje-cooking-7.jpg") center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge" style="z-index: 1; background-color: rgba(0,0,0,0.6); border-radius: 0 0 15px 0">
        <a href="/" style="text-decoration: none; color: #477496">PotLuck</a>
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top" style="text-align: center">A SMARTER RECIPE FINDER</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">Beta Testing</p>
    </div>
    <div class="w3-display-container w3-display-bottomright w3-padding-large">
        <a class="w3-btn w3-xlarge w3-ripple w3-circle w3-teal w3-animate-left" href="/index"
           style="text-decoration: none">>></a>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        <a href="/privacy_policy">Privacy Policy</a> | <a href="/terms">Terms of Service</a>
    </div>
</div>

<!-- Scripts -->

<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>