<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RecipeMaker | Food Preferences</title>
</head>
<body>
<h3><span class="fa fa-user"></span> Welcome, <%= user.local.name %></h3>
<p>Let's collect more information about your food preferences.</p>
<h4><%= recipe[0].title %></h4>
<img src=<%= recipe[0].image %> alt="the recipe">
<br>
<button type="submit" class="btn-like">Like</button>
<button type="submit" class="btn-dislike">Dislike</button>

<!-- jQuery -->
<script src="../../public/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../public/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../public/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../../public/vendors/nprogress/nprogress.js"></script>
<!-- Custom Theme Scripts -->
<script src="../../public/js/custom.js"></script>
<script src="../../public/js/fieldParser.js"></script>
</body>
</html>